{% extends "base.html" %}


{% block content %}
<div id="notification-container">
    <i class="fas fa-exclamation-circle mr-2 mt-1 icon"></i>
    <p id="notification-container-message" class = "mb-0"><p>
</div>
<div class = "container mt-5 form-restore-container">
    <div class = "row d-flex justify-content-center">
        <div class = "col-md-8 col-10 form-restore-col justify-content-between p-5">
            <form method="post" id="restore-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="submit-button p-2 px-3 mt-2" type="submit" value="Enviar">
            </form>
        </div>
    </div>
</div>
{% endblock content %}


{% block aditional_js %}
<script>
    let form = document.getElementById("restore-form");
    form.onsubmit = (e) => { return validatePasswords(e);}

    let validatePasswords = (e) => {

        e.preventDefault();

        password = document.getElementById("id_newpassword");
        passwordAgain = document.getElementById("id_newpassword_again");

        if(password.value !=  passwordAgain.value){
            buildAlert("Las contraseñas no coinciden.");
            return false;
        }
        else{
            form.submit();
            return true;
        }
    }

   let buildAlert = (message) => {
       messageContainer = document.getElementById("notification-container");
       messageContainer.classList.remove("alert");
       messageContainer.classList.add("alert");
       messageContainer.style.display = "flex"; 

       messageText = document.getElementById("notification-container-message");
       messageText.innerHTML = message;
   }

</script>
{% endblock aditional_js %}