{% extends "base.html" %}
{% load static %}

{% block content %}
<div class = "container mt-5">
    <div class = "row d-flex justify-content-center">
        <div class = "col-md-8 col-10 p-5 card-shadow">
            <div class = "container">
                <div class = "row">
                    <div class = "my-4 col-12 display-justify">
                        <i class="fas fa-check-circle success-icon"></i>
                    </div>
        
                    <div class= "feature-text col-12 display-justify">
                        <p class = "text-center">Contraseña actualizada con éxito.</p>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

{% endblock content %}
