// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.alert{
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
  border-radius: 0px;
}

button{
  outline: white;
  border: none;
}

.card-shadow{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.icon{
  color:white;
}

.success-icon{
  font-size: 60px;
  color: $main-green;
}

.display-justify{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
