.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  border-radius: 0px; }

button {
  outline: white;
  border: none; }

.card-shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.icon {
  color: white; }

.success-icon {
  font-size: 60px;
  color: #00BC73; }

.display-justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.feature-card .container {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-height: 300px; }

.feature-card .feature-icon img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100px;
  width: 100px;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2); }

.header-nav {
  background-color: #00BC73; }
  .header-nav a {
    color: white; }

.form-restore-container .form-restore-col {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px; }
  .form-restore-container .form-restore-col p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.submit-button {
  background-color: #00BC73;
  background-color: #00BC73;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold; }
  .submit-button:focus {
    border-radius: 25px;
    outline: none;
    -webkit-box-shadow: 0 0 0pt 2pt white;
            box-shadow: 0 0 0pt 2pt white; }

#notification-container {
  display: none; }
